target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar


# Gitignore from production 2019-04-02
/fixtures*
/*.log
/src/main/java/dk/magenta/datafordeler/*.zip
/src/main/java/dk/magenta/datafordeler/geo/AdresseService.java
